# General
**/__pycache__
.vscode/
**/.DS_Store

# Nextflow Related
.nextflow*
.nextflow/
work/
out/
trace-*txt
report-*html
params.yaml

# Project Related
/data/vep

# Miscs
bcftools-1.9.tar.bz2
run/bedtools
/test_data/ # Question(JL): Is there somebody need this line?
/test_ref/ # Question(JL): Is there somebody need this line?
/test_output/ # Question(JL): Is there somebody need this line?