# General
**/__pycache__
**/.DS_Store
.vscode/
bcftools-1.9.tar.bz2
run/bedtools
test_data/
test_ref/
test_output/
**/.ipynb_checkpoints/
*.ipynb

# Nextflow Related
.nextflow*
.nextflow/
work*/
out*/
store*/
dag-*.html
trace-*.txt
report-*.html
timeline-*.html
params.yaml

# Ignore R history and session files
.Rhistory
.RData

# Ignore some files from model interpreter
*/model_interpreter/results
*/model_interpreter/templates
*/model_interpreter/main.nf
