params {
    input_vcf = null
    input_variant = null
    input_ped = null

    run_id = 1
    ref_ver = "hg19"
    ref_dir = null
    bed_filter = null
    exome_filter = false

    help = false
    version = false
}

docker.enabled = true

process {
    cpus = 2
    memory = { 25.GB * task.attempt }
    errorStrategy = { task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish' }
    maxRetries = 5

    container = "zhandongliulab/aim-lite:1.1"
    cache = "lenient"
}

profiles {
    debug {
        timeline.enabled = true
        trace.enabled = true
        report.enabled = true
    }
    docker {
        process.beforeScript = 'echo "Running Docker Profile."'
        singularity.enabled = false
        docker.enabled = true
    }
    singularity {
        process.beforeScript = 'echo "Running Singularity Profile."'
        docker.enabled = false
        singularity.enabled = true
    }
}

manifest {
    author          = 'LiuzLab'
    name            = 'LiuzLab/AI_MARRVEL'
    version         = '1.1.0'

    description     = """AI-MARRVEL (AIM) is an AI system for rare genetic disease diagnosis."""
    homePage        = 'https://github.com/LiuzLab/AI_MARRVEL'
    defaultBranch   = 'main'
    nextflowVersion = '>=23.10.1'
    doi             = '10.1056/AIoa2300009'
}
