params {
    input_vcf = null
    input_phenopacket = null
    input_variant = null
    input_ped = null
    input_hpo = null
    outdir = "./out"
    storedir = "./store"

    run_id = "run1"
    ref_ver = "hg19"
    ref_dir = null
    s3_bucket_data_name = "aim-data-dependencies-2.3-public"
    bed_filter = null
    exome_filter = false
    impact_filter = false

    help = false
    version = false
}

includeConfig 'conf/base.config'

profiles {
    debug {
        timeline.enabled = true
        trace.enabled = true
        report.enabled = true
    }
    docker {
        process.beforeScript = 'echo "Running Docker Profile."'
        singularity.enabled = false
        docker.enabled = true
    }
    singularity {
        process.beforeScript = 'echo "Running Singularity Profile."'
        docker.enabled = false
        singularity.enabled = true
    }
}

manifest {
    author          = 'LiuzLab'
    name            = 'LiuzLab/AI_MARRVEL'
    version         = '1.1.0'

    description     = """AI-MARRVEL (AIM) is an AI system for rare genetic disease diagnosis."""
    homePage        = 'https://github.com/LiuzLab/AI_MARRVEL'
    defaultBranch   = 'main'
    nextflowVersion = '>=23.10.1'
    doi             = '10.1056/AIoa2300009'
}

plugins {
  id 'nf-schema@2.3.0'
}
validation {
    help {
        enabled = true
        command = """
            nextflow run /path/to/AI_MARRVEL/main.nf \\
                      -profile <debug/docker/singularity/> \\
                      --ref_dir /path/to/dependencies/ \\
                      --input_vcf /path/to/input.vcf \\
                      --input_hpo /path/to/input.hpos.txt \\
                      --outdir /path/to/output \\
                      --storedir /path/to/store \\
                      --run_id <Sample_ID> \\
                      --ref_ver <hg19/hg38>
        """
        fullParameter = "help_full"
        showHiddenParameter = "show_hidden"
    }
}
