params {
    run_id = 1 

    ref_dir = "/home/hwan/AI_MARRVEL/test_ref/grch37_symbol_to_location.txt"
    ref_to_sym = "/home/hwan/AI_MARRVEL/test_ref/ensembl_to_symbol.txt"
    ref_sorted_sym = "/home/hwan/AI_MARRVEL/test_ref/gene_to_symbol_sorted.txt"
    input_vcf = "/home/hwan/AI_MARRVEL/test_data/demo.vcf.gz"
    input_hpo = "/home/hwan/AI_MARRVEL/test_data/hpos.txt"
    outdir = "/home/hwan/AI_MARRVEL/test_output/"
    
    // for data dependency
    chrmap = "/home/hwan/AI_MARRVEL/test_ref/chrmap.txt"

    // for phrank
    phrank_dagfile = "/home/hwan/AI_MARRVEL/refs/phrank/hg19/child_to_parent.txt"
    phrank_disease_annotation = "/home/hwan/AI_MARRVEL/refs/phrank/hg19/disease_to_pheno.txt"
    phrank_gene_annotation = "/home/hwan/AI_MARRVEL/refs/phrank/hg19/gene_to_phenotype.txt"
    phrank_disease_gene = "/home/hwan/AI_MARRVEL/refs/phrank/hg19/disease_to_gene.txt"

    // OMIM and HPO
    omim_hgmd_phen = "/home/hwan/AI_MARRVEL/refs/omim_annotate/hg19/HGMD_phen.tsv" 
    omim_obo = "/home/hwan/AI_MARRVEL/refs/omim_annotate/hp.obo"
    omim_genemap2 = "/home/hwan/AI_MARRVEL/refs/omim_annotate/hg19/genemap2_v2022.rds"
    omim_pheno = "/home/hwan/AI_MARRVEL/refs/omim_annotate/hg19/HPO_OMIM.tsv"
}

docker.enabled = true

process {
    container = "chaozhongliu/aim-lite:latest"
}